.login-container{
  display: flex;
  justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20vh;
  height: 60vh;
  width: 50vh;
  border-radius: 5%;
  background-color: rgba(142, 142, 151, 0.2);
  backdrop-filter: blur(20px);
}

.login-form input {
  height: 1rem;
  width: 15rem;
  padding: 1rem;
  margin: 1vh;
}

.login-form > button{
  height: 6vh;
  width: 20vh;
  margin: 1vh;
  background-color: rgba(70, 70, 76, 0.399);
  font-size: 1em;
}

.login-form > button:hover{
  background-color: rgba(0, 0, 0, 0.574);
}